<div class="row">
    <div class="col">
        <div class="text-center">
            <h4>Result</h4>
            <p>{{ model.toArray.addend_left }} + {{ model.toArray.addend_right }} = <span class="bold">{{ model.sum }}</span></p>
        </div>
    </div>
</div>
