<p>ID: <span class="bold">{{ example.id }}</span></p>
<p>Created On: <span class="bold">{{ example.created }}</span></p>
<p>Code: <span class="bold">{{ example.code }}</span></p>
<p>Description: <span class="bold">{{ example.description }} </span></p>